/* 整體佈局 */
.food-promotions-page {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: Arial, sans-serif;
}

.select-dig-page {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
}

.tab3-container {
  padding: 20px;
  background-color: #f7f7f7;
}

.promotion-section {
  display: flex;
  flex-wrap: wrap;
  max-height: 120px;
}

.select-chill-guy {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.today-offers {
  margin-top: 20px;
}

.today-offers .MuiGrid-item {
  padding: 10px;
}
