/* Container */
.modal-content {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
  background-color: #fff;
  width: 350px;
  height: 350px;
  margin: 0 auto;
  border-radius: 8px;
  padding: 20px;
}

/* Header */
.modal-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.back-button,
.close-button {
  color: #333;
}

/* Body */
.modal-body {
  text-align: left;
}

.reset-icon {
  margin-bottom: 20px;
}

.modal-title {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.modal-description {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}

.input-group {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.email-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 14px;
}

.email-input:focus {
  border-color: #e21b70;
  outline: none;
}

.input-group label {
  position: absolute;
  bottom: 130px;
  left: 40px;
  font-size: 14px;
  color: #aaa;
  transition: all 0.3s ease;
}

.email-input:focus + label,
.email-input:not(:placeholder-shown) + label {
  bottom: 150px;
  left: 40px;
  font-size: 12px;
  background-color: #fff;
  color: #e21b70;
}

/* Buttons */
.reset-button {
  width: 100%;
  padding: 10px;
  background-color: #e21b70;
  color: #fff;
  border: none;
  font-weight: bold;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

.reset-button:hover {
  background-color: #b00c50;
}

.login-button {
  margin-top: 10px;
  background: none;
  border: none;
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
  color: #e21b70;
  cursor: pointer;
}

.login-button:hover {
  background-color: #bebebe60;
  transition: background-color 0.5s ease;
}
